.players {

  display: flex;
}

.header__search {
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10%;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}

.header__search > input {
  flex:1;
  outline: none;
  border: none;
  background: none;
}
.header__search > button {
  outline: none;
  border: none;
  background: gray;
  border-radius: 40%;
  cursor: pointer;
}
